<% include partials/head %>

  <body>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="text-center">
        <h1 class=" fa fa-user"> Facebook Profile</h1><br>
        <span class="fa fa-sign-out"><a href="/"> Sign out</a></span>
        <hr>
        <div class="jumbotron">
          <% if (user.id != null) { %>
            <img src="https://avatars.io/gravatar/<%= user.id %>" class="img-circle"><br>
            <strong>ID</strong>: <%= user.id %><br>
          <p>Name: <%= user.displayName %></p>
          <p>provider: <%= user.provider %></p>
          <p><img src="<%= %>" alt="Photo of <%= user.displayName %>."></p>
          <% } %>
        </div>
        <div>


        </div>
        <div style="border: 2px solid">
          <form action="/uploadFile" enctype="multipart/form-data" method="post">
            File <input type="file" name="imgUploader" accept="image/*">
            <input type="submit" value="Upload">
          </form>

        </div>
      </div>
    </div>
  </body>
</html>
